body {
   background-color:#222831 ;
   font-family: 'Courier New', Courier, monospace
}

.form {
   margin-top: 100px;
   background-color: #393E46;
   text-align: center;
   border-radius: 4px 4px 0 0;
}

h1 {
   padding-top: 15px;
   font-size: 2.5em;
}

#input {
   padding: 20px 0;
   margin-left: -1px;
   width: 250px;
   border: none;
   text-align: center;
   border: none;
   font-size: 18px;
}

button {
   padding: 20px 0;
   margin-left: -16px;
   width: 100px;
   background-color: #00acb59d ;
   font-weight: bold;
   color: rgb(255, 0, 0);
   border: none;
   font-size: 18px;
}

.jars {
   text-align: center;
   background-color: #393e4669;
}
.jars :not(:last-child) {
   margin-bottom: 10px;
}

a {
   color: #EEEEEE;
   font-size: 18px;
   font-weight: bold;
   text-decoration-color: #00acb59d;
}
p {
   color: #EEEEEE;
   font-weight: bold;
}
span {
   color: #00acb59d;
}
