* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #222831;
   font-family: "Russo One", sans-serif;
   color: #EEEEEE;
}
#calculatorContainer {
   text-align: center;
   margin-top: 20px;
}

#calculator {
   padding-top: 10px;
   background-color: #31363F;
}
#words {
   font-size: 30px;
}
#howMuch {
   text-align: center;
   width: 30px;
   height: 30px;
   font-size: 30px;
   margin: 0 10px 0 10px;
}
#calculatorButton {
   margin-top: 10px;
   width: 100%;
   height: 50px;
   background-color: #76ABAE;
   font-family: "Russo One", sans-serif;
   font-size: 30px;
   color: black;
   border: outset;
}
#calculatorButton:hover {
   background-color: rgba(255, 0, 0, 0.292);
   border: inset;
}
#calculatorResult {
   font-size: 40px;
}
#resultNum {

}
#resultWrd {
   font-size: 15px;
}

/******************CONVERTER************************************/

#convertorContainer {
   text-align: center;
   margin-top: 50px;
}

#convertor {
   padding: 10px 10px ;
   background-color: #31363F;
   display: flex;
   align-items: center;
   justify-content: center;
}
#convertorWords {
   font-size: 30px;
}
#convertorHowMuch {
   width: 200px;
   height: 60px;
   font-size: 30px;
   margin: 0 10px 0 10px;
   text-align: center;
}
#convertorButton {
   height: 50px;
   background-color: #76ABAE;
   font-family: "Russo One", sans-serif;
   font-size: 30px;
   color: black;
}
#convertorButton:hover {
   background-color: rgba(255, 0, 0, 0.292);
}
#convertorResult {
   font-size: 40px;
}
#convertorResultNum {
 font-size: 20px;
}
#convertorResWrd {
   font-size: 15px;
}
#jars h1 {
   font-size: 20px;
}
#Death {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
#Death:hover {
   background-color: #00538e;
}
#convertorResultZ {
    background-color: black;
    padding: 5px 5px;
}
#Kitchen {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1px;
}
#convertorResultK {
    background-color: black;
    padding: 5px 5px;
}
#Kitchen:hover {
   background-color: #00538e;
}
#Bar {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
#Bar:hover {
   background-color: #00538e;
}
#convertorResultB {
    background-color: black;
    padding: 5px 5px;
}
#Runner {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   border-bottom: none;
}
#convertorResultR {
    background-color: black;
    padding: 5px 5px;
}
#convertorResultRx2 {
    background-color: black;
    padding: 5px 5px;
}
#Hostes {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   border-bottom: none;
}
#convertorResultH {
    background-color: black;
    padding: 5px 5px;
}
a {
   text-decoration: none;
   color: aquamarine;
}

#end {
    text-align: left;
}
#workDay {
    background: seagreen;
    padding: 0 20px;
}

/**********************************FOOTER***/

footer {
   text-align: center;
}