* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #222831;
   font-family: "Russo One", sans-serif;
   color: #EEEEEE;
}



#calculatorContainer {
   text-align: center;
   margin-top: 20px;
}

#calculator {
   padding-top: 10px;
   background-color: #31363F;
}
#words {
   font-size: 30px;
}
#howMuch {
   text-align: center;
   width: 30px;
   height: 30px;
   font-size: 30px;
   margin: 0 10px 0 10px;
}
#calculatorButton {
   margin-top: 10px;
   width: 100%;
   height: 50px;
   background-color: #76ABAE;
   font-family: "Russo One", sans-serif;
   font-size: 30px;
   color: black;
}
#calculatorButton:hover {
   background-color: rgba(255, 0, 0, 0.292);
}
#calculatorResult {
   font-size: 40px;
}
#resultNum {

}
#resultWrd {
   font-size: 15px;
}

/******************CONVERTER************************************/

#convertorContainer {
   text-align: center;
   margin-top: 50px;
}

#convertor {
   padding-top: 10px;
   background-color: #31363F;
}
#convertorWords {
   font-size: 30px;
}
#convertorHowMuch {
   width: 100px;
   height: 30px;
   font-size: 30px;
   margin: 0 10px 0 10px;
   text-align: center;
}
#convertorButton {
   margin-top: 10px;
   width: 100%;
   height: 50px;
   background-color: #76ABAE;
   font-family: "Russo One", sans-serif;
   font-size: 30px;
   color: black;
}
#convertorButton:hover {
   background-color: rgba(255, 0, 0, 0.292);
}
#convertorResult {
   font-size: 40px;
}
#convertorResultNum {
 font-size: 20px;
}
#convertorResWrd {
   font-size: 15px;
}
#jars h1 {
   font-size: 20px;
}
#Death {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
}
#Death:hover {
   background-color: #00538e;
}
#Kitchen {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
}
#Kitchen:hover {
   background-color: #00538e;
}
#Bar {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
}
#Bar:hover {
   background-color: #00538e;
}
#Runner {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   border-bottom: none;
}
#Hostes {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #31363F;
   border: 1px solid #EEEEEE;
   border-bottom: none;
}
a {
   text-decoration: none;
   color: aquamarine;
}

/**********************************FOOTER***/

footer {
   text-align: center;
}