body {

   background-color:#222831 ;

   font-family: 'Courier New', Courier, monospace
}

.form {
   margin-top: 200px;
   background-color: #393E46;
   text-align: center;
   border-radius: 4px 4px 0 0;
   font-size: 20px;
   animation-name: slideLeft;
   animation-duration: 1s;
}

@keyframes slideLeft {
   from{transform: translateX(100%)}
}

#input {
   padding: 20px 0;
   margin-left: -1px;
   width: 250px;
   border: none;
   text-align: center;
   border: none;
   font-size: 18px;
}

button {
   padding: 20px 0;
   margin-left: -16px;
   width: 100px;
   background-color: #00acb59d ;
   font-weight: bold;
   color: rgb(255, 0, 0);
   border: none;
   font-size: 18px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jars {
   text-align: center;
   font-weight: bold
}
.jars :not(:last-child) {
   margin-bottom: 10px;
}

.cards {
    text-align: center;
}
.cards :not(:last-child) {
    margin-bottom: 10px;
}

a {
   color: #EEEEEE;
   font-size: 25px;
   font-weight: bold;
   text-decoration-color: #00acb59d;
}

.link {
    background-color: #393e4669;
}
